<h1>Let's practice eating burgers......Virtually!</h1>

<h2>You have already eaten these types in the past:</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>To eat section:</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name/When to eat?:</label>
    <input type="text" id="bu" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Eat it now, or Later?</label><br>
    <input type="radio" name="eaten" value="1" checked>Eat it Later<br>
    <input type="radio" name="eaten" value="0"> Eat it NOW!
  </div>

  <button type="submit">Just do it</button>
</form>
